/*--- Global ---*/

* {
  box-sizing: border-box;
}

body {
  background-color: #0E1111;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

main {
  align-content: center;
}

/*--- Section: Navbar ---*/
#navbar .content-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto;
  grid-gap: 20px;
  min-height: auto;
  padding: 10px;
}

#logo {
  padding: 10px 15px;
}

#logo img {
  width: 65px;
}

#menu {
  margin-left: 20px;
  padding-top: 20px;
}

#menu a:nth-child(2) {
  padding-left: 25px;
}

#navbar a {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}

#navbar a:hover, #navbar a:active {
  color: #41C8D9;
  transition: 0.5s;
}

/*--- Section: Header --- */
#header {
  margin: 10px;
  padding: 10px;
  width: 100%;
}

#header-container img {
  display: block;
  margin: auto;
  padding-top: 25px;
  width: 75%;
}

/*--- Section: Introduction ---*/
#introduction {
  background-color: #0E1111;
  margin: auto;
  padding: 20px;
}

#introduction-container {
  margin: auto;
  padding: 10px;
}

#introduction-container .content span {
  color: #01B5CC;
}

#introduction-container .content h2 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: left;
}

#introduction-container .content p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#resume {
  margin: 10px;
  padding: 10px;
}

.btn-resume {
  background: #0E1111;
  border: 1.5px solid #F5F5F5;
  color: #F5F5F5;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: auto;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
}

.btn-resume:hover, .btn-resume:active {
  border-color: #01B5CC;
  color: #01B5CC;
  transition: 0.4s;
}

/*--- Section: Interests ---*/
#interests {
  background-color: #FFF;
  padding-bottom: 10px;
}

#interests-container {
  margin: 10px;
  padding: 10px;
}

#interests-container .content-1 {
  padding-top: 10px;
}

#interests-container .content-2 {
  padding-top: 25px;
}

#interests-container .content-3 {
  padding-top: 25px;
}

#interests-container .content-4 {
  padding-bottom: 25px;
  padding-top: 25px;
}

#interests-container h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 500;
  padding-top: 25px;
  text-align: center;
}

#interests-container h2 span {
  color: #FF0000;
}

#interests-container figcaption {
  color: #0E1111;
  font-size: 1rem;
  padding-top: 10px;
  text-align: center;
}

#interests-container .code span {
  color: #0000FF;
}

#interests-container .desserts span {
  color: #6600CC;
}

/*--- Section: Footer ---*/
#footer {
  background-color: #0E1111;
  margin: auto;
  padding: 20px;
}

#footer-container {
  margin: auto;
  padding: 10px;
}

#footer-container h2 {
  color: #F5F5F5;
  font-size: 1.4rem;
  font-weight: 300;
  padding-bottom: 10px;
  text-align: center;
}

#footer-container p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px;
  text-align: center;
}

.icons-footer {
  font-size: .7rem;
  margin: 10px;
  padding: 10px;
}

.icons-footer a {
  color: #F5F5F5;
  padding: 10px;
}

.icons-footer a:hover, .icons-footer a:active {
  color: #01B5CC;
  transition: 0.4s;
}

#footer .copy {
  font-size: .8rem;
  padding-top: 5px;
  text-align: center;
}

.copy span {
  color: #01B5CC;
}

/*--- Media Queries: Screens 500px and Above ---*/

@media(min-width: 768px) {
  /*--- Section: Navbar ---*/
  #logo {
    padding: 10px 15px;
  }

  #logo img {
    width: 75px;
  }

  #navbar a {
    font-size: 1.2rem;
  }

  #menu {
    margin-right: 25px;
    text-align: right;
  }

  #menu a:nth-child(2) {
    padding-left: 35px;
  }

  /*--- Section: Header ---*/

  #header-container img {
    width: 35%;
  }

  /*--- Section: Introduction ---*/
  #introduction-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px 50px;
  }

  #introduction-container .content {
    grid-column: 1/span 6;
    margin: auto;
    padding: auto;
  }

  #introduction-container .content h2 {
    font-size: 2.2rem;
  }

  #introduction-container .content p {
    font-size: 1.2rem;
  }

  #resume {
    grid-column: 2/span 4;
    justify-self: center;
    margin: 10px;
    padding: 25px;
    width: 100%;
  }

  /*--- Section: Interests ---*/
  #interests-container {
    display: inline-block;
  }

  #interests-container h2 {
    font-size: 2.2rem;
  }

  #interests-container h3 {
    font-size: 1.2rem;
  }

  #interests-container .content-1 {
    float: left;
    padding: 10px;
    width: 50%;
  }

  #interests-container .content-2 {
    float: right;
    padding: 10px;
    width: 50%;
  }

  #interests-container .content-3 {
    float: left;
    padding-bottom: 25px;
    width: 50%;
  }

  #interests-container .content-4 {
    float: right;
    padding-bottom: 25px;
    width: 50%;
  }

  #interests-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  /*--- Section: Footer ---*/
  #footer-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px 25px;
  }

  #footer-container .footer-content {
    grid-column: 1/span 6;
  }

  #footer-container h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  #footer-container p {
    font-size: 1.2rem;
    text-align: center;
  }

  #footer .copy {
    font-size: 1rem;
  }
}

@media(min-width: 900px) {
  /*--- Section: Navbar ---*/
  #logo img {
    width: 100px;
  }

  #navbar a {
    font-size: 1.4rem;
  }

  /*--- Section: Introduction ---*/
  #introduction-container .content {
    grid-column: 2/span 4;
  }

  #introduction-container .content h2 {
    font-size: 2.5rem;
  }

  #introduction-container .content p {
    font-size: 1.4rem;
  }

  #resume {
    justify-self: center;
    width: 50%;
  }

  /*--- Section: Interests ---*/
  #interests-container h2 {
    font-size: 2.5rem;
  }

  #interests-container h3 {
    font-size: 1.4rem;
  }

  /*--- Section: Footer ---*/
  #footer {
    padding: 10px 75px;
  }

  #footer-container .footer-content {
    grid-column: 2/span 4;
  }

  #footer-container h2 {
    font-size: 1.8rem;
  }

  #footer-container p {
    font-size: 1.4rem;
  }
}
