/*--- Global ---*/

* {
  box-sizing: border-box;
}

body {
  background-color: #0E1111;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*--- Section: Navbar ---*/
#navbar .content-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto;
  grid-gap: 20px;
  min-height: auto;
  padding: 10px;
}

#logo {
  padding: 10px 15px;
}

#logo img {
  width: 65px;
}

#menu {
  margin-left: 20px;
  padding-top: 20px;
}

#menu a:nth-child(2) {
  padding-left: 25px;
}

#navbar a {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}

#navbar a:hover, #navbar a:active {
  color: #41C8D9;
  transition: 0.5s;
}

/*--- Section: Contact Form ---*/
#contact-form {
  background-color: #0E1111;
  margin: auto;
  max-width: 600px;
  padding: 100px 20px;
}

#contact-container {
  margin: 10px;
  padding: 10px;
}

.contact-section h2 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

.contact-section p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: rgba(0,0,0,0.7);
  padding: 20px 25px;
  outline: none;
  color: #DDD;
  transition: 0.5s;
  font-family: sans-serif;
  font-size: 1rem;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495E;
}

textarea .contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  background: #0E1111;
  border: 1.5px solid #F5F5F5;
  color: #F5F5F5;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  margin: auto;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.contact-form-btn:hover {
  border-color: #01B5CC;
  color: #01B5CC;
  transition: 0.5s;
}

/*--- Section: Footer ---*/
#footer {
  background-color: #0E1111;
  margin: auto;
  padding: 20px;
}

#footer-container {
  margin: auto;
  padding: auto;
}

.footer-content h2 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 10px;
  text-align: center;
}

.footer-content p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.icons-footer {
  font-size: .7rem;
  margin: 10px;
  padding: 10px;
}

.icons-footer a {
  color: #F5F5F5;
  padding: 10px;
}

.icons-footer a:hover, .icons-footer a:active {
  color: #01B5CC;
  transition: 0.4s;
}

#footer .copy {
  font-size: .8rem;
  padding-top: 5px;
  text-align: center;
}

.copy span {
  color: #01B5CC;
}

/*--- Media Queries ---*/

@media(min-width: 768px) {

  /*--- Section: Navbar ---*/
  #logo {
    padding: 10px 15px;
  }

  #logo img {
    width: 75px;
  }

  #navbar a {
    font-size: 1.2rem;
  }

  #menu {
    margin-right: 25px;
    text-align: right;
  }

  #menu a:nth-child(2) {
    padding-left: 35px;
  }

  /*--- Section: Contact Form ---*/
  .contact-form {
    padding: 5px;
  }

  .contact-section h2 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .contact-section p {
    font-size: 1.2rem;
  }

  .contact-form-btn {
    float: right;
    width: 50%;
  }

  /*--- Section: Footer ---*/
  #footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 25px;
  }

  #footer-container .footer-content {
    grid-column: 1/span 2;
  }

  #footer-container .footer-content h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  #footer-container .footer-content p {
    font-size: 1.2rem;
    text-align: center;
  }

  #footer-container .footer-content .copy {
    font-size: 1rem;
  }
}

@media(min-width: 900px) {

  /*--- Section: Navbar ---*/
  #logo img {
    width: 100px;
  }

  #navbar a {
    font-size: 1.4rem;
  }

  /*--- Section: Contact Form ---*/
  .contact-form {
    padding: 5px;
  }

  .contact-section h2 {
    font-size: 3rem;
    font-weight: 600;
  }

  .contact-section p {
    font-size: 1.4rem;
  }

  .contact-form-btn {
    float: right;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 15px;
    width: 50%; 
  }

  /*--- Section: Footer ---*/
  #footer {
    padding: 10px 75px;
  }

  .footer-content h2 {
    font-size: 1.8rem;
  }

  .footer-content p {
    font-size: 1.4rem;
  }
}
