/*--- Global ---*/

* {
  box-sizing: border-box;
}

body {
  background-color: #0E1111;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*--- Section: Navbar ---*/
#navbar .content-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto;
  grid-gap: 20px;
  min-height: auto;
  padding: 10px;
}

#logo {
  padding: 10px 15px;
}

#logo img {
  width: 65px;
}

#menu {
  margin-left: 20px;
  padding-top: 20px;
}

#menu a:nth-child(2) {
  padding-left: 25px;
}

#navbar a {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  transition: 0.5s;
}

#navbar a:hover, #navbar a:active {
  color: #41C8D9;
  transition: 0.5s;
}

/*--- Section: Overview ---*/
#overview {
  background-color: #0E1111;
  margin: auto;
  padding: 20px;
}

#overview h2 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
}

#overview-container {
  margin: auto;
  padding: 10px;
}

#overview-container h2 {
  color: #F5F5F5;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
}

#overview-container p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#overview-desktop {
  margin: 10px;
  padding: 10px;
}

#overview-mobile {
  margin: 10px;
  padding: 10px;
}

.btn-desktop {
  background: #0E1111;
  border: 1.5px solid #F5F5F5;
  color: #F5F5F5;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  margin: auto;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-desktop:hover, .btn-desktop:active {
  border-color: #01B5CC;
  color: #01B5CC;
  transition: 0.5s;
}

.btn-mobile {
  background: #0E1111;
  border: 1.5px solid #F5F5F5;
  color: #F5F5F5;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  margin: auto;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-mobile:hover, .btn-mobile:active {
  border-color: #01B5CC;
  color: #01B5CC;
  transition: 0.5s;
}

/*--- Section: Problem ---*/
#problem {
  background-color: #FFF;
  margin: auto;
  padding: 0 20px 20px 20px;
}

#problem-container {
  margin: auto;
  padding: 10px;
}

#problem-container .problem-content h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
}

#problem-container .problem-content p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

/*--- Section: Solution ---*/
#solution {
  background-color: #01B5CC;
  margin: auto;
  padding: 0 20px 0 20px;
}

#solution-container {
  margin: auto;
  padding: 10px;
}

#solution .solution-content h2 {
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 300;
}

#solution-container .solution-content p {
  color: #FFF;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

/*--- Section: UX Design Process ---*/
#ux-design {
  background-color: #FFF;
  margin: auto;
  padding: 20px;
}

#ux-design h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

#ux-container {
  margin: auto;
  padding: 10px;
}

#ux-container .ux-content-1 {
  padding-bottom: 20px;
  text-align: center;
}

#ux-container .ux-content-1 h2 {
  color: #0E1111;
  font-size: 1.4rem;
  font-weight: 300;
}

#ux-container .ux-content-1 p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}

#ux-container .ux-content-1 span {
  color: #01B5CC;
}

#ux-container #ux-image-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#ux-container .ux-content-2 {
  padding-bottom: 20px;
  text-align: center;
}

#ux-container .ux-content-2 h2 {
  color: #0E1111;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
}

#ux-container .ux-content-2 p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
}

#ux-container .ux-content-2 span {
  color: #01B5CC;
}

#ux-container #ux-image-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#ux-container .ux-content-3 {
  padding-bottom: 20px;
  text-align: center;
}

#ux-container .ux-content-3 h2 {
  color: #0E1111;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
}

#ux-container .ux-content-3 p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
}

#ux-container .ux-content-3 span {
  color: #01B5CC;
}

#ux-container #ux-image-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#ux-container .ux-content-4 {
  padding-bottom: 20px;
  text-align: center;
}

#ux-container .ux-content-4 h2 {
  color: #0E1111;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
}

#ux-container .ux-content-4 p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
}

#ux-container .ux-content-4 span {
  color: #01B5CC;
}

#ux-container #ux-image-4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#ux-container .ux-content-5 {
  padding-bottom: 20px;
  text-align: center;
}

#ux-container .ux-content-5 h2 {
  color: #0E1111;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
}

#ux-container .ux-content-5 p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
}

#ux-container .ux-content-5 span {
  color: #01B5CC;
}

#ux-container #ux-image-5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/*--- Section: Market Research ---*/
#research {
  background-color: #0E1111;
  margin: auto;
  padding: 0 20px 20px 20px;
}

#research-container {
  margin: auto;
  padding: 20px;
}

#research-container .research-content h2 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

#research-container .research-content p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

/*--- Section: Competitive Analysis ---*/
#analysis {
  background-color: #FFF;
  margin: auto;
  padding: 0 20px 20px 20px;
}

#analysis-container {
  margin: auto;
  padding: 10px;
}

#analysis-container .analysis-content h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
}

#analysis-container .analysis-content p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#analysis-container .analysis-content ul {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#competitive-analysis-social-icons .analysis-icon {
float: left;
padding: 20px;
width: 33.3%;
}

#competitive-analysis-social-icons .googledrive img {
  margin-top: 5px;
}

#competitive-analysis-social-icons {
  width: 100%;
}

#view-swot-analysis {
  margin: 10px;
  padding: 10px;
}

.btn-swotanalysis {
  background: #FFF;
  border: 1.5px solid #0E1111;
  color: #0E1111;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-swotanalysis:hover, .btn-swotanalysis:active {
  border-color: #01B5CC;
  color: #01B5CC;
  transition: 0.5s;
}

/*--- Section: User Surveys ---*/
#surveys {
  background-color: #F2F2F2;
  margin: auto;
  padding: 0 20px;
}

#survey-container {
  margin: auto;
  padding: 10px;
}

#survey-container .survey-content h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
}

#survey-container .survey-content p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#survey-container .survey-content ul {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#survey-image {
  margin: 10px;
  padding: 10px;
}

#survey-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#view-user-survey {
  margin: 10px;
  padding: 10px;
}

.btn-usersurvey {
  background: #F2F2F2;
  border: 1.5px solid #0E1111;
  color: #0E1111;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-usersurvey:hover, .btn-usersurvey:active {
  border-color: #01B5CC;
  color: #01B5CC;
  transition: 0.5s;
}

/*--- Section: Data Analysis ---*/
#data-analysis {
  margin: auto;
  padding: 20px;
}

#data-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#data-container .data-content-1 {
  margin: auto;
  padding: 15px;
}

#data-container .data-content-2 {
  margin: auto;
  padding: 15px;
}

#data-container .data-content-3 {
  grid-column: 1/span 2;
  margin: auto;
  padding: 25px;
}

#data-container .data-content-4 {
  grid-column: 1/span 2;
  margin: auto;
  padding: 10px 25px;
  text-align: left;
}

#data-analysis h2 {
  font-size: 1.8rem;
  font-weight: 300;
}

#data-analysis h3 {
  font-size: 1.2rem;
  font-weight: 300;
}

#data-container .data-content-3 h2 {
  font-size: 1.2rem;
  font-weight: 300;
}

#data-container .data-content-4 h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: auto;
  padding-bottom: 10px;
}

#data-container .data-content-4 p {
  font-size: 1rem;
  font-weight: 100;
  margin: auto;
  padding-bottom: 25px;
}

#data-container .data-content-4 span {
  color: #01B5CC;
}

/*--- Section: Key Insights ---*/
#key-insights {
  background-color: #01B5CC;
  margin: auto;
  padding: 0 20px 20px 20px;
}

#insights-container {
  margin: auto;
  padding: 10px;
}

#insights-container .insights-content h2 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
}

#insights-container .insights-content p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

/*--- Section: User Personas ---*/
#user-personas {
  background-color: #FFF;
  margin: auto;
  padding: 10px 20px 50px 20px;
}

#user-personas h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

#personas-container {
  margin: auto;
  padding: 0 10px;
  text-align: left;
}

#personas-container .personas-content h2 {
  color: #0E1111;
  font-size: 1.4rem;
  font-weight: 300;
}

#personas-container .personas-content p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
}

.persona-1 {
  border: 1px solid #D3D3D3;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.persona-1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 200px;
}

.persona-1 #persona-intro h2 {
  color: #0E1111;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.persona-1 #persona-intro p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.persona-1-content {
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.persona-1-content h2 {
  color: #0E1111;
  font-size: 1.4rem;
  font-weight: 300;
}

.persona-1-content p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
}

.persona-1-content ul {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
}

.persona-1-content #quote {
  color: #01B5CC;
  font-size: 1.2rem;
  font-weight: 200;
  margin: auto;
  text-align: left;
}

.persona-2 {
  border: 1px solid #D3D3D3;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.persona-2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 200px;
}

.persona-2 #persona-intro h2 {
  color: #0E1111;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.persona-2 #persona-intro p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.persona-2-content {
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.persona-2-content h2 {
  color: #0E1111;
  font-size: 1.4rem;
  font-weight: 300;
}

.persona-2-content p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
}

.persona-2-content ul {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
}

.persona-2-content #quote {
  color: #01B5CC;
  font-size: 1.2rem;
  font-weight: 200;
  margin: auto;
  text-align: left;
}

/*--- Section: User Stories ---*/
#user-stories {
  background-color: #F0F0F0;
  margin: auto;
  padding: 0 20px;
  overflow-x: hidden;
}

#stories-container {
  margin: auto;
  padding: 10px;
}

#stories-container h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
}

#stories-container p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#stories-container ul {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#user-stories-table {
  border-collapse: collapse;
  display: inline-block;
  table-layout: fixed;
  width: 100%;
}

.new-user-content tbody {
  background-color: #FFF;
  display:block;
  font-family: 'Roboto', Sans-Serif;
  height: 200px;
  overflow: auto;
  width: 100%;
}

.new-user-content tbody tr:nth-of-type(2n+1) {
  background: #F0F0F0;
}

.new-user-content thead {
  font-family: 'Roboto', Sans-Serif;
  font-size: 1rem;
  display: block;
}

.new-user-content thead {
  background-color: #01B5CC;
  color: #FFF;
  display: block;
}

.new-user-content th {
  padding: 5px;
  text-align: left;
  width: 200px;
}

.new-user-content th:nth-child(3) {
  text-align: center;
}

.new-user-content td {
  color: #0E1111;
  font-size: 1rem;
  padding: 5px;
  text-align: left;
  width: 200px;
}

#view-user-stories {
  margin: 10px;
  padding: 10px;
}

.btn-userstories {
  background: #F0F0F0;
  border: 1.5px solid #0E1111;
  color: #0E1111;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-userstories:hover, .btn-userstories:active {
  border-color: #01B5CC;
  color: #01B5CC;
  transition: 0.5s;
}

/*--- Section: User Flows ---*/
#user-flows {
  background-color: #0E1111;
  margin: auto;
  padding: 0 20px;
}

#flows-container {
  margin: auto;
  padding: 10px;
}

.flows-content {
  padding-bottom: 20px;
}

#flows-container h2 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
}

#flows-container p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#user-flows-1 {
  margin: auto;
  padding-bottom: 25px;
}

#user-flows-1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#user-flows-2 {
  margin: auto;
  padding-bottom: 10px;
}

#user-flows-2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#view-user-flows {
  margin: 10px;
  padding: 10px;
}

.btn-userflows {
  background: #0E1111;
  border: 1.5px solid #F5F5F5;
  color: #F5F5F5;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-userflows:hover, .btn-userflows:active {
  border-color: #01B5CC;
  color: #01B5CC;
  transition: 0.5s;
}

/*--- Section: Wireframes & Prototype ---*/
#wireframes-prototype {
  background-color: #01B5CC;
  margin: auto;
  padding: 0 20px;
}

#wireframes-container {
  margin: auto;
  padding: 10px;
}

#wireframes-container h2 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
}

#wireframes-container p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#prototype-1 {
  margin: auto;
  padding-bottom: 10px;
}

#prototype-1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#prototype-2 {
  margin: auto;
  padding-top: 10px;
}

#prototype-2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#view-lofi-prototype {
  margin: 10px;
  padding: 10px;
}

.btn-lofi {
  background: #01B5CC;
  border: 1.5px solid #F5F5F5;
  color: #F5F5F5;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-lofi:hover, .btn-lofi:active {
  border-color: #0E1111;
  color: #0E1111;
  transition: 0.5s;
}

/*--- Section: LoFi Testing ---*/
#lofi-testing {
  background-color: #0E1111;
  margin: auto;
  padding: 0 20px;
}

#testing-container {
  margin: auto;
  padding: 10px;
}

#testing-container h2 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
}

#testing-container p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#testing-container ul {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#testing-images {
  padding-bottom: 50px;
}

/*--- Section: Branding & Logo ---*/
#branding-logo-1 {
  background-color: #F8F8F5;
  margin: auto;
  padding: 0 20px 20px 20px;
}

#branding-logo-2 {
  background-color: #FFF;
  padding: 0 20px;
}

#logo-container-1 {
  margin: auto;
  padding: 10px;
}

#logo-container-2 {
  margin: auto;
  padding: 10px;
}

#logo-final {
  padding-bottom: 35px;
  padding-top: 25px;
}

#logo-container-1 h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
}

#logo-container-1 p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#logo-container-2 h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
}

#logo-container-2 p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

/*--- Section: Typography ---*/
#typography {
  background-color: #01B5CC;
  margin: auto;
  padding: 0 20px;
}

#typography-container {
  margin: auto;
  padding: 10px;
}

#typography-container h2 {
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
  text-align: left;
}

#typography-container p {
  color: #FFF;
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 25px;
  text-align: left;
}

#typography-container .typography-content-1 h2 {
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

#brand-typeface {
  padding-bottom: 25px;
}

#complimentary-typeface {
  padding-bottom: 50px;
}

/*--- Section: Colors ---*/
#colors {
  background: #FFF;
  margin: auto;
  padding: 0 20px;
}

#colors-container {
  margin: auto;
  padding: 10px;
}

#colors-container h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
}

#colors-container p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#colors-container ul {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#color-palette {
  padding-bottom: 25px;
  padding-top: 25px;
}

#style-guide {
  margin: 10px;
  padding: 10px;
}

.btn-styleguide {
  background: #FFF;
  border: 1.5px solid #0E1111;
  color: #0E1111;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-styleguide:hover, .btn-styleguide:active {
  border-color: #01B5CC;
  color: #01B5CC;
  transition: 0.5s;
}

/*--- Section: HiFi Prototype ---*/
#hifi-prototype-1 {
  background-color: #F0F0F0;
  margin: auto;
  padding: 0 20px;
}

#hifi-container-1 {
  margin: auto;
  padding: 10px;
}

#preference-testing-1 {
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
}

#preference-testing-2 {
  margin: auto;
  padding-bottom: 25px;
}

#hifi-container-1 h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
}

#hifi-container-1 p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#desktop-prototype {
  margin: 10px;
  padding: auto;
}

#mobile-prototype {
  margin: 10px;
  padding: auto;
}

.btn-desktop-2 {
  background: #F0F0F0;
  border: 1.5px solid #0E1111;
  color: #0E1111;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-desktop-2:hover, .btn-desktop-2:active {
  border-color: #01B5CC;
  color: #01B5CC;
  transition: 0.5s;
}

.btn-mobile-2 {
  background: #F0F0F0;
  border: 1.5px solid #0E1111;
  color: #0E1111;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-mobile-2:hover, .btn-mobile-2:active {
  border-color: #01B5CC;
  color: #01B5CC;
  transition: 0.5s;
}

/*--- Section: Hi-Fi Testing ---*/
#hifi-testing {
  background-color: #01B5CC;
  margin: auto;
  padding: 0 20px;
}

#hifi-container-2 {
  margin: auto;
  padding: 10px;
}

#hifi-refinement-1 {
  padding-bottom: 25px;
  padding-top: 25px;
}

#hifi-refinement-2 {
  padding-bottom: 25px;
}

#hifi-container-2 h2 {
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 300;
}

#hifi-container-2 p {
  color: #FFF;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#hifi-container-2 ul {
  color: #FFF;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

.hifi-content-3 {
  padding-bottom: 25px;
}

/*--- Section: Conclusion ---*/
#conclusion {
  background-color: #FFF;
  margin: auto;
  padding: 0 20px 15px 20px;
}

#conclusion-container {
  margin: auto;
  padding: 10px;
}

#conclusion-container h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
}

#conclusion-container h3 {
  color: #0E1111;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: left;
}

#conclusion-container p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

/*--- Section: Footer ---*/
#footer {
  background-color: #0E1111;
  margin: auto;
  padding: 0 20px;
}

#footer-container {
  margin: auto;
  padding: auto;
}

.footer-content h2 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 10px;
  text-align: center;
}

.footer-content p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.icons-footer {
  font-size: .7rem;
  margin: 10px;
  padding: 10px;
}

.icons-footer a {
  color: #F5F5F5;
  padding: 10px;
  transition: 0.5s;
}

.icons-footer a:hover, .icons-footer a:active {
  color: #01B5CC;
  transition: 0.5s;
}

#footer .copy {
  font-size: .8rem;
  padding-top: 5px;
  text-align: center;
}

.copy span {
  color: #01B5CC;
}

/*--- Media Queries ---*/
@media(min-width: 768px) {
  /*--- Section: Navbar ---*/
  #logo {
    padding: 10px 15px;
  }

  #logo img {
    width: 75px;
  }

  #navbar a {
    font-size: 1.2rem;
  }

  #menu {
    margin-right: 25px;
    text-align: right;
  }

  #menu a:nth-child(2) {
    padding-left: 35px;
  }

  /*--- Section: Header ---*/
  #overview h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  #overview-container .overview-content {
    padding: 10px 25px;
  }

  #overview-container .overview-content h2 {
    font-size: 2.5rem;
  }

  #overview-container .overview-content p {
    font-size: 1.2rem;
  }

  #overview-desktop {
    margin: auto;
    padding: 25px;
    width: 65%;
  }

  .btn-desktop {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 15px;
  }

  #overview-mobile {
    margin: auto;
    padding: 25px;
    width: 65%;
  }

  .btn-mobile {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 15px;
  }

  /*--- Section: Problem ---*/
  #problem-container .problem-content {
    padding: 10px 25px;
  }

  #problem-container .problem-content h2 {
    font-size: 2.2rem;
  }

  #problem-container .problem-content p {
    font-size: 1.2rem;
  }

  /*--- Section: Solution ---*/
  #solution-container .solution-content {
    padding: 10px 25px;
  }

  #solution-container .solution-content h2 {
    font-size: 2.2rem;
  }

  #solution-container .solution-content p {
    font-size: 1.2rem;
  }

  #solution-container #solution-image {
    margin: auto;
    padding: 10px;
    width: 80%;
  }

  /*--- Section: UX Design Process ---*/
  #ux-design h2 {
    font-size: 2.2rem;
  }

  #ux-container .ux-content-1 {
    padding: 10px 25px;
  }

  #ux-container .ux-content-1 h2 {
    font-size: 1.6rem;
  }

  #ux-container .ux-content-1 p {
    font-size: 1.2rem;
  }

  #ux-container #ux-image-1 {
    width: 100px;
  }

  #ux-container .ux-content-2 {
    padding: 10px 25px;
  }

  #ux-container .ux-content-2 h2 {
    font-size: 1.6rem;
  }

  #ux-container .ux-content-2 p {
    font-size: 1.2rem;
  }

  #ux-container #ux-image-2 {
    width: 100px;
  }

  #ux-container .ux-content-3 {
    padding: 10px 25px;
  }

  #ux-container .ux-content-3 h2 {
    font-size: 1.6rem;
  }

  #ux-container .ux-content-3 p {
    font-size: 1.2rem;
  }

  #ux-container #ux-image-3 {
    width: 100px;
  }

  #ux-container .ux-content-4 {
    padding: 10px 25px;
  }

  #ux-container .ux-content-4 h2 {
    font-size: 1.6rem;
  }

  #ux-container .ux-content-4 p {
    font-size: 1.2rem;
  }

  #ux-container #ux-image-4 {
    width: 100px;
  }

  #ux-container .ux-content-5 {
    padding: 10px 25px;
  }

  #ux-container .ux-content-5 h2 {
    font-size: 1.6rem;
  }

  #ux-container .ux-content-5 p {
    font-size: 1.2rem;
  }

  #ux-container #ux-image-5 {
    width: 100px;
    padding-bottom: 25px;
  }

  /*--- Section: Market Research ---*/
  #research-container .research-content {
    padding: 10px 25px;
  }

  #research-container .research-content h2 {
    font-size: 2.2rem;
  }

  #research-container .research-content p {
    font-size: 1.2rem;
  }

  /*--- Section: Competitive Analysis ---*/
  #analysis-container .analysis-content {
    padding: 10px 25px;
  }

  #analysis-container .analysis-content h2 {
    font-size: 2rem;
  }

  #analysis-container .analysis-content p {
    font-size: 1.2rem;
  }

  #analysis-container .analysis-content ul {
    font-size: 1.2rem;
  }

  #competitive-analysis-social-icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }

  #view-swot-analysis {
    margin: auto;
    padding: 25px;
    width: 65%;
  }

  .btn-swotanalysis {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 15px;
  }

  /*--- Section: User Surveys ---*/
  #survey-container .survey-content {
    padding: 10px 25px;
  }

  #survey-container .survey-content h2 {
    font-size: 2.2rem;
  }

  #survey-container .survey-content p {
    font-size: 1.2rem;
  }

  #survey-container .survey-content ul {
    font-size: 1.2rem;
  }

  #survey-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  #view-user-survey {
    margin: auto;
    padding: 25px;
    width: 65%;
  }

  .btn-usersurvey {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 15px;
  }

  /*--- Section: Data Analysis ---*/
  #data-analysis h2 {
    font-size: 2.2rem;
  }

  #data-analysis h3 {
    font-size: 1.4rem;
  }

  #data-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #data-container .data-content-1 {
    width: 75%;
  }

  #data-container .data-content-2 {
    width: 65%;
  }

  #data-container .data-content-3 {
    width: 75%;
  }

  #data-container .data-content-4 {
    margin: auto;
    padding: 25px;
    text-align: center;
    width: 75%;
  }

  /*--- Section: Key Insights ---*/
  #insights-container .insights-content {
    padding: 10px 25px;
  }

  #insights-container .insights-content h2 {
    font-size: 2.2rem;
  }

  #insights-container .insights-content p {
    font-size: 1.2rem;
  }

  /*--- Section: User Personas ---*/
  #user-personas h2 {
    font-size: 2.2rem;
    margin-bottom: 0;
  }

  #personas-container .personas-content {
    padding: 10px 25px;
  }

  #personas-container .personas-content p {
    font-size: 1.2rem;
  }

  #personas-container .persona-1 h2 {
    font-size: 1.8rem;
  }

  #personas-container .persona-1 p {
    font-size: 1.2rem;
  }

  #personas-container .persona-1-content h2 {
    font-size: 1.4rem;
    text-align: left;
  }

  #personas-container .persona-1-content p {
    font-size: 1.2rem;
  }

  #personas-container .persona-1-content ul {
    font-size: 1.2rem;
  }

  #personas-container .persona-1 #quote {
    color: #01B5CC;
    font-size: 1.6rem;
    text-align: center;
  }

  #personas-container .persona-2 h2 {
    font-size: 1.8rem;
  }

  #personas-container .persona-2 p {
    font-size: 1.2rem;
  }

  #personas-container .persona-2-content h2 {
    font-size: 1.4rem;
    text-align: left;
  }

  #personas-container .persona-2-content p {
    font-size: 1.2rem;
  }

  #personas-container .persona-2-content ul {
    font-size: 1.2rem;
  }

  #personas-container .persona-2 #quote {
    color: #01B5CC;
    font-size: 1.6rem;
    text-align: center;
  }

  /*--- Section: User Stories ---*/
  #stories-container .stories-content {
    padding: 10px 25px;
  }

  #stories-container .stories-content h2 {
    font-size: 2.2rem;
  }

  #stories-container .stories-content p {
    font-size: 1.2rem;
  }

  #stories-container .stories-content ul {
    font-size: 1.2rem;
  }

  #user-stories-table {
    padding-left: 45px;
  }

  #view-user-stories {
    margin: auto;
    padding: 25px;
    width: 65%;
  }

  #view-user-stories .btn-userstories {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 15px;
  }

  /*--- Section: User Flows ---*/
  #flows-container .flows-content {
    padding: 10px 25px;
  }

  #flows-container .flows-content h2 {
    font-size: 2.2rem;
  }

  #flows-container .flows-content p {
    font-size: 1.2rem;
  }

  #user-flows-1 {
    padding-right: 20px;
    width: 90%;
  }

  #user-flows-2 {
    padding-right: 18px;
    width: 90%;
  }

  #view-user-flows {
    margin: auto;
    padding: 25px;
    width: 65%;
  }

  .btn-userflows {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 15px;
  }

  /*--- Section: Wireframes & Prototype ---*/
  #wireframes-container {
    padding: 10px 25px;
  }

  #wireframes-container .prototype-content h2 {
    font-size: 2.2rem;
  }

  #wireframes-container .prototype-content p {
    font-size: 1.2rem;
  }

  #view-lofi-prototype {
    margin: auto;
    padding: 25px;
    width: 65%;
  }

  .btn-lofi {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 15px;
  }

  /*--- Section: LoFi Testing ---*/
  #testing-container {
    padding: 10px 25px;
  }

  #testing-container .testing-content h2 {
    font-size: 2.2rem;
  }

  #testing-container .testing-content p {
    font-size: 1.2rem;
  }

  #testing-container .testing-content ul {
    font-size: 1.2rem;
  }

  /*--- Section: Branding & Logo 1 ---*/
  #logo-container-1 {
    padding: 10px 25px;
  }

  #logo-container-1 .logo-content-1 h2 {
    font-size: 2.2rem;
  }

  #logo-container-1 .logo-content-1 p {
    font-size: 1.2rem;
  }

  /*--- Section: Branding & Logo 2 ---*/
  #logo-container-2 {
    padding: 10px 25px;
  }

  #logo-container-2 .logo-content-2 h2 {
    font-size: 2.2rem;
  }

  #logo-container-2 .logo-content-2 p {
    font-size: 1.2rem;
  }

  /*--- Section: Typography ---*/
  #typography-container {
    padding: 10px 25px;
  }

  #typography-container .typography-content-1 h2 {
    font-size: 2.2rem;
  }

  #typography-container p {
    font-size: 1.2rem;
  }

  /*--- Section: Colors ---*/
  #colors-container {
    padding: 10px 25px;
  }

  #colors-container .colors-content-1 h2 {
    font-size: 2.2rem;
  }

  #colors-container .colors-content-1 p {
    font-size: 1.2rem;
  }

  #colors-container .colors-content-1 ul {
    font-size: 1.2rem;
  }

  #style-guide {
    margin: auto;
    padding: 25px;
    width: 65%;
  }

  .btn-styleguide {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 15px;
  }

  /*--- Section: HiFi Prototype 1 ---*/
  #hifi-container-1 {
    padding: 10px 25px;
  }

  #hifi-container-1 .hifi-content-1 h2 {
    font-size: 2.2rem;
  }

  #hifi-container-1 .hifi-content-1 p {
    font-size: 1.2rem;
  }

  #desktop-prototype {
    margin: auto;
    padding: 25px;
    width: 65%;
  }

  .btn-desktop-2 {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 15px;
  }

  #mobile-prototype {
    margin: auto;
    padding: 0px 25px;
    width: 65%;
  }

  .btn-mobile-2 {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 15px;
  }

  /*--- Section: HiFi Testing ---*/
  #hifi-container-2 {
    padding: 10px 25px;
  }

  #hifi-container-2 p {
    font-size: 1.2rem;
  }

  #hifi-container-2 .hifi-content-2 h2 {
    font-size: 2.2rem;
  }

  #hifi-container-2 .hifi-content-2 p {
    font-size: 1.2rem;
  }

  #hifi-container-2 .hifi-content-2 ul {
    font-size: 1.2rem;
  }

  /*--- Section: Conclusion ---*/
  #conclusion-container {
    padding: 10px 25px;
  }

  #conclusion-container .conclusion-content h2 {
    font-size: 2.2rem;
  }

  #conclusion-container .conclusion-content h3 {
    font-size: 1.6rem;
  }

  #conclusion-container .conclusion-content p {
    font-size: 1.2rem;
  }

  /*--- Section: Footer ---*/
  #footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 25px;
  }

  #footer-container .footer-content {
    grid-column: 1/span 2;
  }

  #footer-container .footer-content h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  #footer-container .footer-content p {
    font-size: 1.2rem;
    text-align: center;
  }

  #footer-container .footer-content .copy {
    font-size: 1rem;
  }
}

@media(min-width: 900px) {
  /*--- Section: Navbar ---*/
  #logo img {
    width: 100px;
  }

  #navbar a {
    font-size: 1.4rem;
  }

  /*--- Section: Overview ---*/
  #overview h2 {
    font-size: 3rem;
  }

  #overview-container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1800px;
    padding: 25px;
  }

  #overview-container #overview-image {
    grid-column: 1;
    margin: auto;
    padding-top: 100px
  }

  #overview-container .overview-content {
    grid-column: 2;
    margin: auto;
    padding: 50px;
  }

  #overview-desktop {
    grid-column: 1;
    width: 65%;
  }

  #overview-mobile {
    grid-column: 2;
  }

  #overview-container .overview-content p {
    font-size: 1.4rem;
  }

  /*--- Section: Problem ---*/
  #problem-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    padding: 0 50px 35px 50px;
  }

  .problem-content {
    grid-column: 2/span 4;
    margin: auto;
    padding: 10px;
  }

  #problem-container .problem-content h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  #problem-container .problem-content p {
    font-size: 1.4rem;
  }

  /*--- Section: Solution ---*/
  #solution-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1500px;
    padding: 0 50px 35px 50px;
  }

  .solution-content {
    grid-column: 1/span 2;
    margin-top: 50px;
  }

  #solution-container #solution-image {
    grid-column: 3/span 4;
    margin-top: 25px;
    padding-top: 50px;
    width: 100%;
  }

  #solution-container .solution-content h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  #solution-container .solution-content p {
    font-size: 1.4rem;
    padding-left: 35px;
  }

  /*--- Section: UX Design Process ---*/
  #ux-design {
    padding: 20px 20px 75px 20px;
  }

  #ux-design h2 {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 25px;
    text-align: center;
  }

  #ux-container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 50px 25px 50px;
  }

  #ux-container .ux-content-1 h2 {
    font-size: 2rem;
  }

  #ux-container .ux-content-1 p {
    font-size: 1.4rem;
  }

  #ux-container .ux-content-2 h2 {
    font-size: 2rem;
  }

  #ux-container .ux-content-2 p {
    font-size: 1.4rem;
  }

  #ux-container .ux-content-3 h2 {
    font-size: 2rem;
  }

  #ux-container .ux-content-3 p {
    font-size: 1.4rem;
  }

  #ux-container .ux-content-4 h2 {
    font-size: 2rem;
  }

  #ux-container .ux-content-4 p {
    font-size: 1.4rem;
  }

  #ux-container .ux-content-5 h2 {
    font-size: 2rem;
  }

  #ux-container .ux-content-5 p {
    font-size: 1.4rem;
  }

  /*--- Section: Market Research ---*/
  #research-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    padding: 0 50px 35px 50px;
  }

  .research-content {
    grid-column: 2/span 4;
    margin: auto;
    padding: 10px;
  }

  #research-container .research-content h2 {
    font-size: 3rem;
  }

  #research-container .research-content p {
    font-size: 1.4rem;
  }

  /*--- Section: Competitive Analysis ---*/
  #analysis-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1500px;
    padding: 0 50px 35px 50px;
  }

  #view-swot-analysis {
    grid-column: 1/span 2;
    justify-self: center;
    margin: 10px;
    padding: 10px;
    width: 35%;
  }

  #competitive-analysis-social-icons {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    place-items: center center;
  }

  #competitive-analysis-social-icons .analysis-icon {
    margin-top: 50px;
    width: 100%;
  }

  .googledrive {
    grid-row: 1/span 2;
    padding-right: 50px;
    width: auto;
  }

  #analysis-container .analysis-content h2 {
    font-size: 3rem;
  }

  #analysis-container .analysis-content p {
    font-size: 1.4rem;
  }

  #analysis-container .analysis-content ul {
    font-size: 1.4rem;
  }

  #analysis-container .analysis-content li {
    margin-bottom: 20px;
  }

  /*--- Section: User Surveys ---*/
  #survey-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1500px;
    padding: 0 50px 35px 50px;
  }

  .survey-content {
    grid-column: 1/span 2;
  }

  #survey-container .survey-content h2 {
    font-size: 3rem;
  }

  #survey-container .survey-content p {
    font-size: 1.4rem;
  }

  #survey-container .survey-content ul {
    font-size: 1.4rem;
  }

  #survey-image {
    grid-column: 3/span 4;
    justify-self: center;
    margin: 25px;
    padding: 50px;
    width: 90%;
  }

  #view-user-survey {
    grid-column: 2/span 2;
    justify-self: center;
    padding: 10px;
    width: 65%;
  }

  /*--- Section: Data Analysis ---*/
  #data-analysis {
    max-width: 1500px;
  }

  #data-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #data-container .data-content-1 {
    width: 65%;
  }

  #data-container .data-content-2 {
    width: 60%;
  }

  #data-container .data-content-3 {
    width: 60%;
  }

  #data-container .data-content-4 {
    padding: 50px;
    width: 65%;
  }

  #data-container .data-content-3 h2 {
    font-size: 2.5rem;
  }

  #data-container .data-content-4 h2 {
    font-size: 3.5rem;
    font-weight: 800;
  }

  #data-container .data-content-4 p {
    font-size: 1.6rem;
  }

  #data-analysis h2 {
    font-size: 3.5rem;
  }

  #data-analysis h3 {
    font-size: 2.5rem;
  }

  /*--- Section: Key Insights ---*/
  #insights-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    padding: 0 50px 35px 50px;
  }

  .insights-content {
    grid-column: 2/span 4;
    margin: auto;
    padding: 10px;
  }

  #insights-container .insights-content h2 {
    font-size: 3rem;
  }

  #insights-container .insights-content p {
    font-size: 1.4rem;
    text-align: left;
  }

  /*--- Section: User Personas ---*/
  #personas-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    padding: 25px;
  }

  #personas-container h2 {
    grid-column: 2/span 4;
    margin: auto;
  }

  #personas-container .personas-content {
    grid-column: 2/span 4;
    margin: auto;
  }

  #user-personas img {
    max-width: 300px;
  }

  .persona-1 {
    grid-column: 1/span 3;
    margin: 10px;
    padding: 15px;
  }

  .persona-1 #persona-intro h2 {
    font-size: 2rem;
    margin-top: 25px;
  }

  .persona-2 {
    grid-column: 4/span 6;
    margin: 10px;
    padding: 10px;
  }

  .persona-2 #persona-intro h2 {
    font-size: 2rem;
    margin-top: 25px;
  }

  #user-personas h2 {
    font-size: 3rem;
  }

  #personas-container .personas-content h2 {
    font-size: 1.8rem;
  }

  #personas-container .personas-content p {
    font-size: 1.4rem;
  }

  #personas-container .persona-1-content h2 {
    font-size: 1.6rem;
    text-align: left;
  }

  #personas-container .persona-1-content #quote {
    color: #01B5CC;
    font-size: 1.4rem;
    font-weight: 400;
    margin: auto;
    text-align: center;
  }

  #personas-container .persona-2-content h2 {
    font-size: 1.6rem;
    text-align: left;
  }

  #personas-container .persona-2-content #quote {
    color: #01B5CC;
    font-size: 1.4rem;
    font-weight: 400;
    margin: auto;
    text-align: center;
  }

  /*--- Section: User Stories ---*/
  #stories-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    padding: 0 50px;
  }

  #stories-container .stories-content {
    grid-column: 1/span 3;
    margin: auto;
    padding: 10px 50px;
  }

  #stories-container #user-stories-table {
    display: flex;
    grid-column: 4/span 6;
    margin-top: auto;
    padding: 25px;
  }

  .new-user-content tbody {
    height: 325px;
  }

  .new-user-content th:nth-child(3) {
    text-align: left;
    width: 215px;
  }

  #view-user-stories {
    grid-column: 2/span 4;
    justify-self: center;
    margin: auto;
    padding: 20px 20px 50px 20px;
    width: 50%;
  }

  #stories-container .stories-content h2 {
    font-size: 3rem;
  }

  #stories-container .stories-content p {
    font-size: 1.4rem;
  }

  #stories-container .stories-content ul {
    font-size: 1.4rem;
    padding-left: 50px;
  }

  /*--- Section: User Flows ---*/
  #flows-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    padding: 0 50px;
  }

  #flows-container .flows-content {
    grid-column: 2/span 4;
    margin: auto;
    padding: 10px;
  }

  #flows-container #user-flows-1 {
    grid-column: 1/span 3;
    margin: auto;
    padding: 25px;
  }

  #flows-container #user-flows-2 {
    grid-column: 4/span 6;
    margin: auto;
    padding: 25px;
  }

  #user-flows-1 img {
    width: 90%;
  }

  #user-flows-2 img {
    width: 108%;
  }

  #view-user-flows {
    grid-column: 2/span 4;
    justify-self: center;
    margin: 10px;
    padding: 20px 20px 50px 20px;
    width: 50%;
  }

  #flows-container .flows-content h2 {
    font-size: 3rem;
  }

  #flows-container .flows-content p {
    font-size: 1.4rem;
  }

  /*--- Section: Wireframes & Prototype ---*/
  #wireframes-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    padding: 0 50px;
  }

  #wireframes-container .prototype-content {
    grid-column: 2/span 4;
    margin: auto;
    padding: 10px;
  }

  #wireframes-container #prototype-1 {
    grid-column: 1/span 3;
    margin: auto;
    padding: 10px 50px;
    width: 100%;
  }

  #wireframes-container #prototype-2 {
    grid-column: 4/span 6;
    margin: auto;
    padding: 10px 50px;
    width: 100%;
  }

  #view-lofi-prototype {
    grid-column: 2/span 4;
    justify-self: center;
    margin: 10px;
    padding: 20px 20px 50px 20px;
    width: 50%;
  }

  #wireframes-container .prototype-content h2 {
    font-size: 3rem;
  }

  #wireframes-container .prototype-content p {
    font-size: 1.4rem;
  }

  /*--- Section: LoFi Testing ---*/
  #testing-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1500px;
    padding: 25px 50px;
  }

  #testing-container .testing-content {
    grid-column: 1/span 2;
    margin: auto;
    padding: 10px 50px;
  }

  #testing-images img {
    padding-left: 75px;
    width: 85%;
  }

  #testing-container #testing-images {
    grid-column: 3/span 4;
    justify-self: center;
    margin: 25px;
    padding: 25px;
    width: 100%;
  }

  #testing-container .testing-content h2 {
    font-size: 3rem;
  }

  #testing-container .testing-content p {
    font-size: 1.4rem;
  }

  #testing-container .testing-content ul {
    font-size: 1.4rem;
  }

  /*--- Section: Branding ---*/
  #logo-container-1 {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    padding: 25px 50px;
  }

  #logo-container-1 .logo-content-1 {
    grid-column: 1/span 3;
    margin: auto;
    padding: 10px 50px;
  }

  #logo-container-1 #logo-sketches-1 {
    grid-column: 4/span 6;
    margin: auto;
    padding: 10px 50px;
  }

  #logo-sketches-1 {
    margin: 10px;
    padding: 10px;
  }

  #logo-container-1 .logo-content-1 h2 {
    font-size: 3rem;
  }

  #logo-container-1 .logo-content-1 p {
    font-size: 1.4rem;
  }

  /*--- Section: Logo ---*/
  #logo-container-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1500px;
    padding: 0 50px 50px 50px;
  }

  #logo-container-2 .logo-content-2 {
    grid-column: 1/span 2;
    margin: auto;
    padding: 10px 50px;
  }

  #logo-container-2 #logo-final {
    grid-column: 3/span 4;
    margin-top: 85px;
    padding: 25px;
  }

  #logo-final img {
    margin-top: 75px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-top: 10px;
    width: 85%;
  }

  #logo-container-2 .logo-content-2 h2 {
    font-size: 3rem;
  }

  #logo-container-2 .logo-content-2 p {
    font-size: 1.4rem;
  }

  /*--- Section: Typography ---*/
  #typography-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    padding: 0 50px 50px 50px;
  }

  #typography-container .typography-content-1 {
    grid-column: 2/span 4;
    margin: auto;
    padding: 10px 50px;
  }

  #typography-container .typography-content-2 {
    grid-column: 1/span 3;
    margin: auto;
    padding: 10px 50px;
  }

  #typography-container #brand-typeface {
    grid-column: 4/span 6;
    margin: auto;
    padding: 10px 50px;
    width: 100%;
  }

  #typography-container .typography-content-3 {
    grid-column: 1/span 3;
    margin: auto;
    padding: 10px 50px;
  }

  #typography-container #complimentary-typeface {
    grid-column: 4/span 6;
    margin: auto;
    padding: 10px 50px;
    width: 100%;
  }

  #typography-container .typography-content-1 h2 {
    font-size: 3rem;
  }

  #typography-container .typography-content-1 p {
    font-size: 1.4rem;
  }

  #typography-container .typography-content-2 h2 {
    font-size: 2.2rem;
  }

  #typography-container .typography-content-2 p {
    font-size: 1.4rem;
  }

  #typography-container .typography-content-3 h2 {
    font-size: 2.2rem;
  }

  #typography-container .typography-content-3 p {
    font-size: 1.4rem;
  }

  /*--- Section: Colors ---*/
  #colors-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    padding: 0 50px 35px 50px;
  }

  #colors-container .colors-content-1 {
    grid-column: 1/span 3;
    margin: auto;
    padding: 10px 50px;
  }

  #colors-container #color-palette {
    grid-column: 4/span 6;
    margin-top: 115px;
    padding: 50px;
  }

  #colors-container #color-palette img {
    margin-top: 25px;
  }

  #style-guide {
    grid-column: 2/span 4;
    justify-self: center;
    margin: 10px;
    padding: 10px;
    width: 50%;
  }

  #colors-container .colors-content-1 h2 {
    font-size: 3rem;
  }

  #colors-container .colors-content-1 p {
    font-size: 1.4rem;
  }

  #colors-container .colors-content-1 ul {
    font-size: 1.4rem;
  }

  /*--- Section: HiFi Prototype ---*/
  #hifi-container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1500px;
    padding: 0 50px 35px 50px;
  }

  #hifi-container-1 .hifi-content-1 {
    grid-column: 1/span 2;
    margin: auto;
    padding: 10px 50px;
  }

  #hifi-container-1 .hifi-content-1 h2 {
    font-size: 3rem;
  }

  #hifi-container-1 .hifi-content-1 p {
    font-size: 1.4rem;
  }

  #hifi-container-2 .hifi-content-3 p {
    font-size: 1.4rem;
  }

  #preference-testing-1 {
    grid-column: 1;
    margin: 10px;
    padding: 10px;
  }

  #preference-testing-2 {
    grid-column: 2;
    margin: 10px;
    padding: 10px;
  }

  #desktop-prototype {
    grid-column: 1;
    justify-self: center;
    margin: 10px;
    padding: 10px;
    width: 65%;
  }

  #mobile-prototype {
    grid-column: 2;
    justify-self: center;
    margin: 10px;
    padding: 10px;
    width: 65%;
  }

  /*--- Section: HiFi Testing ---*/
  #hifi-container-2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    padding: 0 50px 35px 50px;
  }

  #hifi-container-2 .hifi-content-2 {
    grid-column: 2/span 4;
    margin: auto;
    padding: 10px;
  }

  #hifi-container-2 .hifi-content-3 {
    grid-column: 2/span 4;
    margin: auto;
  }

  #hifi-refinement-1 {
    grid-column: 1/span 3;
    margin: 10px;
    padding: 10px;
  }

  #hifi-refinement-2 {
    grid-column: 4/span 3;
    margin: 10px;
    padding: 10px;
  }

  #hifi-container-2 .hifi-content-2 h2 {
    font-size: 3rem;
  }

  #hifi-container-2 .hifi-content-2 p {
    font-size: 1.4rem;
  }

  #hifi-container-2 .hifi-content-2 ul {
    font-size: 1.4rem;
  }

  /*--- Section: Conclusion ---*/
  #conclusion-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px; 
    padding: 0 50px 35px 50px;
  }

  #conclusion-container .conclusion-content {
    grid-column: 2/span 4;
    margin: auto;
    padding: 25px 10px;
  }

  #conclusion-container .conclusion-content h2 {
    font-size: 3rem;
  }

  #conclusion-container .conclusion-content h3 {
    font-size: 2rem;
  }

  #conclusion-container .conclusion-content p {
    font-size: 1.4rem;
  }

  /*--- Section: Footer ---*/
  #footer {
    padding: 10px 75px;
  }

  #footer-container .footer-content h2 {
    font-size: 2.2rem;
  }

  #footer-container .footer-content p {
    font-size: 1.4rem;
  }
}
