/*--- Global ---*/

* {
  box-sizing: border-box;
}

body {
  background-color: #0E1111;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*--- Section: Navbar ---*/
#navbar .content-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto;
  grid-gap: 20px;
  min-height: auto;
  padding: 10px;
}

#logo {
  padding: 10px 15px;
}

#logo img {
  width: 65px;
}

#menu {
  margin-left: 20px;
  padding-top: 20px;
}

#menu a:nth-child(2) {
  padding-left: 25px;
}

#navbar a {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}

#navbar a:hover, #navbar a:active {
  color: #41C8D9;
  transition: 0.5s;
}

/*--- Section: Header ---*/
#header {
  background-color: #0E1111;
  margin: auto;
  padding: 20px;
}

#header-container {
  margin: 10px;
  padding: 10px;
}

#header-container h1 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 25px;
}

#header-container h1 span {
  color: #01B5CC;
}

.lightSpeedIn {
  animation-duration: 1.5s;
  animation-delay: 1s;
}

#header-container .header-content p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#header-container .header-content p span {
  color: #01B5CC;
}

/*--- Section: Projects ---*/
#projects {
  background-color: #F0F0F0;
  margin: auto;
  padding: 20px;
}

#projects-container {
  margin: auto;
  padding: auto;
}

#projects h2 {
  color: #0E1111;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

#projects-container .projects-content p {
  color: #0E1111;
  font-size: 1rem;
  font-weight: 300;
  margin: 10px;
  padding: 10px;
  text-align: left;
}

#case-study {
  margin: 10px;
  padding: 10px;
}

.case-study-btn {
  background: #F0F0F0;
  border: 1.5px solid #0E1111;
  color: #0E1111;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  margin: auto;
  padding: 10px;
  width: 100%;
}

.case-study-btn:hover, .case-study-btn:active {
  color: #01B5CC;
  border-color: #01B5CC;
  transition: 0.4s;
}

/*--- Section: Footer ---*/
#footer {
  background-color: #0E1111;
  margin: auto;
  padding: 20px;
}

#footer-container {
  margin: auto;
  padding: auto;
}

.footer-content h2 {
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 10px;
  text-align: center;
}

.footer-content p {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.icons-footer {
  font-size: .7rem;
  margin: 10px;
  padding: 10px;
}

.icons-footer a {
  color: #F5F5F5;
  padding: 10px;
}

.icons-footer a:hover, .icons-footer a:active {
  color: #01B5CC;
  transition: 0.4s;
}

#footer .copy {
  font-size: .8rem;
  padding-top: 5px;
  text-align: center;
}

.copy span {
  color: #01B5CC;
}

/*--- Media Queries ---*/
@media(min-width: 500px) {

  /*--- Section: Navbar ---*/
  #logo {
    padding: 10px 15px;
  }

  #logo img {
    width: 75px;
  }

  #navbar a {
    font-size: 1.2rem;
  }

  #menu {
    margin-right: 25px;
    text-align: right;
  }

  #menu a:nth-child(2) {
    padding-left: 35px;
  }

  /*--- Section: Header --- */
  #header-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px 50px;
  }

  #header-container .header-content {
    grid-column: 1/span 6;
    margin: auto;
    padding: auto;
  }

  #header-container .header-content h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1;
    padding-bottom: 25px;
    text-align: center;
  }

  #header-container .header-content p {
    font-size: 1.2rem;
  }

  /*--- Section: Projects ---*/
  #projects h2 {
    font-size: 2.5rem;
    font-weight: 300;
  }
  #projects-container .projects-content {
    font-size: 1.2rem;
    margin: 10px;
    padding: 10px;
    text-align: left;
  }

  #projects-container .projects-content p {
    font-size: 1.2rem;
  }

  #projects-image {
    margin: 10px;
    padding: 10px;
    width: 650px;
  }

  #case-study {
    margin: auto;
    padding: 10px;
    width: 60%;
  }

  /*--- Section: Footer ---*/
  #footer-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px 25px;
  }

  #footer-container .footer-content {
    grid-column: 1/span 6;
  }

  .footer-content h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  .footer-content p {
    font-size: 1.2rem;
    text-align: center;
  }

  #footer .copy {
    font-size: 1rem;
  }
}

@media(min-width: 800px) {
  /*--- Section: Navbar ---*/
  #logo img {
    width: 100px;
  }

  #navbar a {
    font-size: 1.4rem;
  }

  /*--- Section: Header ---*/
  #header-container .header-content {
    grid-column: 2/span 4;
  }

  #header-container .header-content h1 {
    font-size: 5.5rem;
  }

  #header-container .header-content p {
    font-size: 1.4rem;
  }

  /*--- Section: Projects ---*/
  #projects {
    padding: 25px;
  }
  #projects-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
  }

  #projects-container #projects-image {
    grid-column: 1/span 2;
  }

  #projects-image img {
    padding-left: 50px; 
    width: 85%;
  }

  #projects-container .projects-content {
    grid-column: 4/span 6;
    padding-top: 35px;
  }

  #projects h2 {
    font-size: 3.5rem;
    grid-column: 2/span 4;
  }

  #projects-container .projects-content p {
    font-size: 1.4rem;
  }

  #case-study {
    width: 60%;
  }

  /*--- Section: Footer ---*/
  #footer {
    padding: 25px;
  }

  #footer-container .footer-content {
    grid-column: 2/span 4;
  }

  .footer-content h2 {
    font-size: 1.8rem;
  }

  .footer-content p {
    font-size: 1.4rem;
  }

}
